/* @canonical/generator-ds 0.9.0-experimental.4 */

/* component variables
    --tooltip-color-background: background color of the tooltip
    --tooltip-color-background-hover: background color of the tooltip on hover
    --tooltip-color-background-active: background color of the tooltip on active
    --tooltip-color-text: text color of the tooltip
    --tooltip-color-border: border color of the tooltip
    --tooltip-color-border-hover: border color of the tooltip on hover
    --tooltip-color-border-active: border color of the tooltip on active

    --tooltip-margin-left: left margin of the tooltip
    --tooltip-margin-bottom: bottom margin of the tooltip
    --tooltip-padding-vertical: vertical padding of the tooltip
    --tooltip-padding-horizontal: horizontal padding of the tooltip
    --tooltip-border-width: border width of the tooltip
    --tooltip-border-arrow-visible: border of the arrow when visible
    --tooltip-border-arrow-hidden: border of the arrow when hidden
    --tooltip-font-size: font size of the tooltip
    --tooltip-font-weight: font weight of the tooltip
    --tooltip-line-height: line height of the tooltip

    --tooltip-spacing-arrow-size: size of the arrow
    --tooltip-spacing-arrow-edge: edge spacing of the arrow
    --tooltip-spacing-arrow-middle: middle spacing of the arrow
*/

.ds.tooltip {
  display: contents;
}

/*
    Note: The tooltip component's tokens and base styling are not applied at the .ds.tooltip level, rather they are applied at the message level.
    This is because the tooltip wraps an arbitrary target element passed by the user, which we should generally not style.
 */
.ds.tooltip-message {
  display: inline-block;
  cursor: pointer;
  color: var(
    --intent-color-text,
    var(--tooltip-color-text, var(--color-text-default))
  );
  background-color: var(
    --intent-color,
    var(--tooltip-color-background, var(--color-background-default))
  );
  border-color: var(
    --intent-color-border,
    var(--tooltip-color-border, transparent)
  );
  border-style: solid;
  border-radius: var(--tooltip-border-radius);
  border-width: var(--tooltip-border-width, 1px);
  font-size: var(--tooltip-font-size, var(--font-size-small));
  font-weight: var(--tooltip-font-weight, var(--font-weight-default));
  line-height: var(--tooltip-line-height, var(--line-height-small));
  margin-block-end: var(--tooltip-margin-bottom, 0);
  margin-inline-end: var(--tooltip-margin-left, 0);
  padding-block: var(--tooltip-padding-vertical, 5px);
  padding-inline: var(--tooltip-padding-horizontal, 10px);
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  position: relative;
  pointer-events: auto;
}

.ds.tooltip-message,
.ds.tooltip-target > *:first-child::before {
  position: absolute;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

/* Hidden state */
.ds.tooltip-message[aria-hidden="true"],
.ds.tooltip-target[data-ds-tooltip-targeted="false"] > *:first-child::before {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Visible state */
.ds.tooltip-message[aria-hidden="false"],
.ds.tooltip-target[data-ds-tooltip-targeted="true"] > *:first-child::before {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.ds.tooltip-target {
  display: inline-block;
  position: relative;
}

/*
    The child of the tooltip target element is passed by the user.
    It must have no margin in order for the tooltip message to be positioned properly.
*/
.ds.tooltip-target > *:first-child {
  margin: 0;
}

.ds.tooltip-target > *:first-child::before {
  content: "";
  width: 0;
  height: 0;
  border: var(--tooltip-border-arrow-hidden);
  position: absolute;
}

/* Tooltip arrow shape definitions */
/* Point down */
.ds.tooltip.top-left,
.ds.tooltip.top-center,
.ds.tooltip.top-right {
  & .ds.tooltip-target > *:first-child::before {
    border-top: var(--tooltip-border-arrow-visible);
  }
}

/* Point up */
.ds.tooltip.btm-left,
.ds.tooltip.btm-center,
.ds.tooltip.btm-right {
  & .ds.tooltip-target > *:first-child::before {
    border-bottom: var(--tooltip-border-arrow-visible);
  }
}

/* Point left */
.ds.tooltip.right {
  & .ds.tooltip-target > *:first-child::before {
    border-right: var(--tooltip-border-arrow-visible);
  }
}

/* Point right */
.ds.tooltip.left {
  & .ds.tooltip-target > *:first-child::before {
    border-left: var(--tooltip-border-arrow-visible);
  }
}

/* Tooltip arrow horizontal positioning */

/* Horizontally centered */
.ds.tooltip.top-center,
.ds.tooltip.btm-center {
  & .ds.tooltip-target > *:first-child::before {
    left: var(--tooltip-spacing-arrow-middle);
  }
}

/* Right corner */
/* Corners also include horizontal spacing in order to provide some additional separation from the triangle edge and the tooltip edge */
.ds.tooltip.top-right,
.ds.tooltip.btm-right {
  & .ds.tooltip-target > *:first-child::before {
    right: var(--tooltip-spacing-arrow-size);
  }
}

/* Left corner */
.ds.tooltip.btm-left,
.ds.tooltip.top-left {
  & .ds.tooltip-target > *:first-child::before {
    left: var(--tooltip-spacing-arrow-size);
  }
}

/* Left edge */
.ds.tooltip.left {
  & .ds.tooltip-target > *:first-child::before {
    left: var(--tooltip-spacing-arrow-edge);
  }
}

/* Right edge */
.ds.tooltip.right {
  & .ds.tooltip-target > *:first-child::before {
    right: var(--tooltip-spacing-arrow-edge);
  }
}

/* Tooltip arrow vertical positioning */

/* Bottom */
.ds.tooltip.btm-left,
.ds.tooltip.btm-center,
.ds.tooltip.btm-right {
  & .ds.tooltip-target > *:first-child::before {
    bottom: var(--tooltip-spacing-arrow-edge);
  }
}

/* Top */
.ds.tooltip.top-left,
.ds.tooltip.top-center,
.ds.tooltip.top-right {
  & .ds.tooltip-target > *:first-child::before {
    top: var(--tooltip-spacing-arrow-edge);
  }
}

/* Left, right */
.ds.tooltip.left,
.ds.tooltip.right {
  & .ds.tooltip-target > *:first-child::before {
    top: var(--tooltip-spacing-arrow-middle);
  }
}
