.ds.editable-block {
  --editable-block-header-icon-size: 16px;
  --editable-block-header-icon-edit-url: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 13.25v1.5H2v-1.5h12zM11.907 1.676l.58.58a2 2 0 010 2.829l-5.133 5.133c-.038.038-.079.073-.122.104l.01.008a3.77 3.77 0 01-1.718.983l-3.52.914.863-3.583c.138-.57.41-1.099.795-1.54l.17-.183.01.01c.03-.043.065-.084.103-.122l5.133-5.133a2 2 0 012.829 0zm-3.309 2.6L5.036 7.84l-.593.82 1.062 1.063.814-.591 3.567-3.568-1.288-1.288zm1.61-1.597l-.07.057-.479.48 1.288 1.288.48-.48a.5.5 0 00.057-.638l-.057-.069-.581-.58a.5.5 0 00-.638-.058z' fill='%23000000' fill-rule='nonzero'/%3E%3C/svg%3E");
  --editable-block-header-icon-close-url: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' fill-rule='nonzero' d='M13.041 1.898l1.06 1.06L9.062 8l5.04 5.042-1.06 1.06L8 9.062 2.96 14.1l-1.06-1.06L6.938 8 1.9 2.96l1.06-1.06 5.04 5.04z'/%3E%3C/svg%3E");
  --editable-block-header-title-font-weight: 550;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .icon {
      width: var(--editable-block-header-icon-size);
      height: var(--editable-block-header-icon-size);
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    > .icon-edit {
      background-image: var(--editable-block-header-icon-edit-url);
    }

    > .icon-close {
      background-image: var(--editable-block-header-icon-close-url);
    }

    > .title {
      flex: 1;
      text-align: left;
      font-weight: var(--editable-block-header-title-font-weight);
    }
  }

  > .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
