.ds.tooltip-area {
  position: relative;
  & .target {
    cursor: pointer;
    position: relative;
    display: inline-block;

    & > * {
      /* The tooltip targets must have no margin in order for tooltip placements to work correctly */
      margin: 0 !important;
    }
  }
}
