/* @canonical/generator-ds 0.9.0-experimental.4 */

.ds.form-text {
  border-radius: var(--border-radius);

  direction: inherit;
  display: flex;
  align-items: center;
  gap: var(--field-inline-gap);
}
