/* @canonical/generator-canonical-ds 0.0.1 */

.ds.code-diff-viewer {
  font-size: 13px;

  .diff-table {
    /* updated dynamically on window resize */
    --table-width: 300px;

    table-layout: auto;
    border-collapse: separate;
    border-spacing: 1px 0;
    display: block;
    overflow: auto;
    outline: none;

    tr {
      /* remove outer spacing from the sides of the table */
      margin-left: -1px;
      margin-right: -1px;
    }
  }

  > .svg-refs {
    display: none;
  }
}
