/* Load external files first */
@import url("./font-faces.css");

/* Reset */
@import url("normalize.css");

/* Values and settings */
@import url("@canonical/tokens/dist/css/primitives-canonical.css");
@import url("./tokens.css");

/* Foundations styling */
@import url("@canonical/typography");
@import url("./typography.css");

/* Modifiers */
@import url("modifiers.css");
