:host {
  --hr-color: black;
}

.section {
  padding-bottom: var(--section-padding-bottom);

  &.shallow {
    padding-bottom: var(--section-padding-bottom-shallow);
  }

  &.deep {
    padding-bottom: var(--section-padding-bottom-deep);
  }
}

h2,
h4,
h5 {
  text-transform: uppercase;
}

/* Usually, headings would have negative top margin for nudges. However, we won't implement this yet. */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-size: var(--h1-font-size);
  padding-top: var(--h1-nudge);
  line-height: var(--h1-line-height);
  margin-bottom: calc(var(--h1-space-after) - var(--h1-nudge));

  & + & {
    margin-top: calc(-1 * var(--h1-space-after));
  }

  p + & {
    padding-top: calc(var(--h1-nudge) + var(--spacing-vertical-xlarge));
  }
}

h2 {
  font-size: var(--h2-font-size);
  padding-top: var(--h2-nudge);
  line-height: var(--h2-line-height);

  margin-bottom: calc(var(--h2-space-after) - var(--h2-nudge));

  h1 + &,
  & + & {
    margin-top: calc(-1 * var(--h2-space-after));
  }

  p + & {
    padding-top: calc(var(--h2-nudge) + var(--spacing-vertical-xlarge));
  }
}

h3 {
  font-size: var(--h3-font-size);
  padding-top: var(--h3-nudge);
  line-height: var(--h3-line-height);

  margin-bottom: calc(var(--h3-space-after) - var(--h3-nudge));

  & + & {
    margin-top: calc(-1 * var(--h3-space-after));
  }

  p + & {
    padding-top: calc(var(--h3-nudge) + var(--spacing-vertical-xlarge));
  }
}

h4 {
  font-size: var(--h4-font-size);
  padding-top: var(--h4-nudge);
  line-height: var(--h4-line-height);

  margin-bottom: calc(var(--h4-space-after) - var(--h4-nudge));

  h3 + &,
  & + & {
    margin-top: calc(-1 * var(--h4-space-after));
  }

  p + & {
    padding-top: calc(var(--h4-nudge) + var(--spacing-vertical-xlarge));
  }
}

h5 {
  font-size: var(--h5-font-size);
  padding-top: var(--h5-nudge);
  line-height: var(--h5-line-height);

  margin-bottom: calc(var(--h5-space-after) - var(--h5-nudge));

  & + & {
    margin-top: calc(-1 * var(--h5-space-after));
  }

  p + & {
    padding-top: calc(var(--h5-nudge) + var(--spacing-vertical-xlarge));
  }
}

h6 {
  font-size: var(--h6-font-size);
  padding-top: var(--h6-nudge);
  line-height: var(--h6-line-height);

  margin-bottom: calc(var(--h6-space-after) - var(--h6-nudge));

  h5 + &,
  & + & {
    margin-top: calc(-1 * var(--h6-space-after));
  }

  p + & {
    padding-top: calc(var(--h6-nudge) + var(--spacing-vertical-xlarge));
  }
}

p {
  font-size: var(--p-font-size);
  padding-top: var(--p-nudge);
  line-height: var(--p-line-height);

  margin-bottom: calc(var(--p-space-after) - var(--p-nudge));
}

hr {
  border: none;
  width: 100%;
  grid-column: 1 / -1;
  background-color: var(--hr-color);
  height: var(--hr-height);
  margin-bottom: var(--hr-margin-bottom);
  margin-top: var(--hr-margin-top);

  &.highlighted {
    height: calc(var(--hr-highlighted-scale) * var(--hr-height));
    margin-bottom: calc(var(--hr-highlighted-scale) * var(--hr-margin-bottom));
    margin-top: calc(var(--hr-highlighted-scale) * var(--hr-margin-top));
  }
}

.lorem-ipsum-block,
.bottom-grid-container {
  & h5 {
    text-transform: none;
  }
}

.specimen-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.specimen-grid {
  --specimen-num-cols: 1;
  --specimen-gap: 0;
  --specimen-padding-horizontal: 1.25rem;

  display: grid;
  grid-template-columns: repeat(var(--specimen-num-cols), 1fr);
  gap: var(--specimen-gap);
  padding: 0 var(--specimen-padding-horizontal);
  max-width: 1400px;
  background-color: #fff;
}

.top-section-wrapper {
  --top-section-row: auto;
  --top-section-num-cols: 1;
  --top-section-gap: 1.5em 0;

  grid-column: 1 / -1;
  grid-row: var(--top-section-row);
  display: grid;
  grid-template-columns: repeat(var(--top-section-num-cols), 1fr);
  gap: var(--top-section-gap);
}

.column {
  --column-num-cols: 1;
  --column-gap: 0;

  display: grid;
  grid-template-columns: repeat(var(--column-num-cols), 1fr);
  grid-column-gap: var(--column-gap);
  align-content: start;
}

.column > * {
  grid-column: 1 / -1;
}

.mid-section {
  --mid-section-row: auto;
  --mid-section-num-cols: 1;
  --mid-section-gap: 1em 0;

  grid-column: 1 / -1;
  grid-row: var(--mid-section-row);
  display: grid;
  grid-template-columns: repeat(var(--mid-section-num-cols), 1fr);
  gap: var(--mid-section-gap);
  align-items: start;
}

.mid-section .grid-title {
  --mid-title-col: 1 / -1;
  grid-column: var(--mid-title-col);
}

.mid-section .lorem-ipsum-block {
  --mid-lorem-col: 1 / -1;
  grid-column: var(--mid-lorem-col);
  display: grid;
}

.mid-section .mid-section-image {
  --mid-image-col: 1 / -1;
  grid-column: var(--mid-image-col);
  height: auto;
  justify-self: stretch;
  width: 100%;
}

.bottom-grid-container {
  --bottom-grid-row: auto;
  --bottom-grid-num-cols: 1;
  --bottom-grid-gap: 1.25rem;

  grid-column: 1 / -1;
  grid-row: var(--bottom-grid-row);
  display: grid;
  grid-template-columns: repeat(var(--bottom-grid-num-cols), 1fr);
  gap: var(--bottom-grid-gap);
}

.bottom-grid-container .grid-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  align-content: start;
}

@media (min-width: 600px) {
  .bottom-grid-container {
    --bottom-grid-num-cols: 2;
  }
}

@media (min-width: 900px) {
  .specimen-grid {
    --specimen-num-cols: 8;
    --specimen-gap: 0 1.25rem;
    --specimen-padding-horizontal: 1.875rem;
  }

  .top-section-wrapper {
    --top-section-row: 2;
    --top-section-num-cols: 2;
    --top-section-gap: 0 1.25rem;
  }

  .column {
    --column-num-cols: 4;
    --column-gap: 1.25rem;
  }

  .mid-section {
    --mid-section-row: 4;
    --mid-section-num-cols: 8;
    --mid-section-gap: 0 1.25rem;
  }

  .mid-section .grid-title {
    --mid-title-col: 1 / span 2;
  }

  .mid-section .lorem-ipsum-block {
    --mid-lorem-col: 3 / span 2;
  }

  .mid-section .mid-section-image {
    --mid-image-col: 5 / -1;
  }

  .bottom-grid-container {
    --bottom-grid-row: 5;
    --bottom-grid-num-cols: 4;
    --bottom-grid-margin-top: 2em;
  }
}
