.example {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .renderer {
    flex: 1 1 auto;
    overflow: auto;
  }

  & .controls {
    flex-shrink: 0;
    /* Draw the controls over the baseline grid overlay */
    z-index: 201;
  }
}
