/* @canonical/generator-ds 0.10.0-experimental.2 */

.ds.rule {
  background-color: var(
    --modifier-separator-bar-color,
    var(--rule-color-background)
  );
  border-width: var(--rule-border-width);
  height: var(--modifier-separator-bar-height, var(--rule-height));
  margin-block-start: var(--rule-margin-top);
  /* global modifiers can change the height of the rule. Subtract the actual height of the rule from the target height to keep baseline alignment    */
  margin-block-end: calc(
    var(--rule-height-with-margin) -
    var(--modifier-separator-bar-height, var(--rule-height))
  );
}
