.ds.node {
  list-style: none;
  display: flex;
  gap: var(--file-tree-node-items-gap);
  align-items: center;

  font-size: var(--file-tree-node-text-size);
  font-weight: var(--file-tree-node-text-weight);
  line-height: var(--file-tree-node-text-line-height);

  /* vertical padding is set on the indentation level */
  padding: 0 var(--file-tree-node-horizontal-padding);
  cursor: default;
  color: var(--file-tree-node-text-color-default);
  border-left: 2px solid var(--file-tree-node-border-color);

  &.selectable,
  &.expandable {
    cursor: pointer;
    &:hover {
      background-color: var(--file-tree-node-background-color-hover);
    }
  }

  &.selected,
  &.selectable:focus,
  &.expandable:focus {
    color: var(--file-tree-node-text-color-active);
    background-color: var(--file-tree-node-background-color-active);
    border-color: var(--file-tree-node-border-color-active);
    font-weight: var(--file-tree-node-text-weight-active);
  }

  & > .icon {
    user-select: none;
    width: var(--file-tree-node-icon-size);
    &.file {
      content: var(--file-tree-node-file-icon);
    }
    &.folder {
      content: var(--file-tree-node-closed-folder-icon);
      &.expanded {
        content: var(--file-tree-node-opened-folder-icon);
      }
    }
  }
  & > .nodename {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & > .marker {
    display: inline-block;
  }
}
