/* @canonical/generator-ds 0.10.0-experimental.2 */

.ds.card-section {
  /* Add padding to all sections */
  padding-block: var(--card-section-padding-vertical);
  padding-inline: var(--card-section-padding-horizontal);

  /* Distinguish a section from following sections with spacing and border */
  &:not(:last-child) {
    border-bottom: var(--card-section-separator-border-width)
      var(--card-section-separator-border-style)
      var(--card-section-separator-color);
  }
}
