/* @canonical/generator-ds 0.10.0-experimental.2 */

.ds.card-section {
  padding-block: var(--card-section-padding-vertical);
  padding-inline: var(--card-section-padding-horizontal);

  /* Last section doesn't need a border (the Card itself has a border) */
  &:not(:last-child) {
    border-bottom: var(--card-section-separator-border-width)
      var(--card-section-separator-border-style)
      var(--card-section-separator-color);
  }
}
