/* @canonical/generator-ds 0.10.0-experimental.2 */

.ds.card {
  /* prevent overflow of child margins */
  overflow: auto;

  box-shadow: var(--modifier-box-shadow, var(--card-box-shadow));
  color: var(--modifier-color-text, var(--card-color-text));
  background-color: var(--modifier-color, var(--card-color-background));
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  border-color: var(--card-section-separator-color);
  margin-block-end: var(--card-margin-bottom);
  margin-inline-end: var(--card-margin-left);
}
